<div class="card refractory pointer">
        <div class="card-body">
          <span class="text-black font-weight-bold anchor" >  {{refractoryService.refractory.RefractoryType}} </span>  
          <h4 class="card-title">{{refractoryService.refractory.RefractoryBrand}}</h4>
          <img [src]="refractoryService.refractory.Src" alt="Заглавная картинка из поста " height="420">
              <div><br></div>
          <h5 class="card-title"><label [innerHtml]="refractoryService.refractory.RefractoryDescription"></label></h5>         
          <span class="text-black font-weight-bold anchor">Розміщенно: {{refractoryService.refractory.UserInfo.Name}}  {{refractoryService.refractory.UserInfo.LastName}}, {{refractoryService.refractory.UserInfo.Position}}</span><br>     
          <span class="text-black font-weight-bold anchor">Стаття розміщенна: {{refractoryService.refractory.DateCreate | date : "MMM d, y"}}</span><br><br>      
        
          <h5><u>Відгуки про вогнетрив:</u></h5>
                <div class="comment"  *ngFor="let comment of refractoryService.refractory.Comments" >
                  <span>{{comment.DateCreation | date : "MMM d, y"}}</span><br>
                  <span>"{{comment.CommentBody}}"</span><br>
                  <span>{{comment.UserInfo.Name}} {{comment.UserInfo.LastName}}, {{comment.UserInfo.Position}}</span>
                   <br><br>
                </div>

                <!--add comment-->
          <div class="addComments" *ngIf="!AutorizeCheck()">
              <form #messageForm="ngForm"  #commentInput (ngSubmit)="OnAddComment(CommentText.value);">
                  <div class="form-group">
                    <label class="col-form-label">Новий відгук про роботу вогнетрива:</label>
                    <textarea class="add-comment form-control" #CommentText [(ngModel)]="commentText" [ngModelOptions]="{standalone: true}"></textarea>
                  </div>
                  <button id="sendButton" type="submit" class="btn btn-info">Додати відгук</button>
                </form>
          </div>


        </div>
    </div>
