
<!--Edit profile-->
<div class="row">
<div class="col-sm-1"></div>
<div class="edit-profile-form jumbotron container col-sm-5">
  <label class="edit-label">Edit Profile Info:</label>
  <form #EditProfileForm="ngForm" novalidate (ngSubmit)="OnSubmit()">
    
    <div class="form-group">      
      <label class="control-label" for="Name">Name</label>

      <input name="Name" type="text" required #Name="ngModel"  [(ngModel)]="service.editProfile.Name">

      <span *ngIf="Name.errors?.required" class="label label-warning">
        Name is required
      </span>
    </div>  

    <div class="form-group">
      <label class="control-label" for="LastName">Last Name</label>
      <input type="text" required name="LastName" #LastName="ngModel" [(ngModel)]="service.editProfile.LastName">
      <span *ngIf="LastName.errors?.required" class="label label-warning">
        Last Name is required
      </span>
    </div>

    <div class="form-group">
      <label class="control-label" for="Address">Address</label>
      <input type="text" required name="Address" #Address="ngModel" [(ngModel)]="service.editProfile.Address">
    </div>
    
    <div class="form-group">
      <label class="control-label">Email</label>
      <input type="email" name="Email" #Email="ngModel" [(ngModel)]="service.editProfile.Email" required pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$">
      <span *ngIf="(!Email.valid)" class="label label-warning">
        Email is required and format should be
        <i>example@gmail.com</i>
      </span>
    </div>
      
    <input type="submit" class="btn btn-info" id="submit" value="Save Profile Changes">
  </form>

  <!--delete acc--> 
  <br>
  <div class="delete-acc">
    <label class="control-label">Want to delete account?</label>
    <button class="btn btn-danger" (click)="OnDeleteAcc()">Delete my account</button> 
  </div>
 </div>
</div> 

