
    <div class="card refractories pointer"  *ngFor="let pd of refService.moderRefractories">
            <div class="card-body">

              <h4 class="card-title">{{pd.RefractoryBrand}}</h4>
              <span class="text-black font-weight-bold anchor" > Статус блокування статті: {{pd.IsBlocked}} </span>
              <br>
              <img [src]="pd.Src" alt="Головний малюнок из опису" height="300">
              <br>
              <span class="text-black font-weight-bold anchor" >{{pd.DateCreate | date : "MMM d, y"}}</span>
              <span class="text-black font-weight-bold anchor" >  {{pd.RefractoryType}} </span>
              <div  (click)="populateForm(pd)" >  <h5><u>Перейти до опису вогнетрива</u></h5></div>
            <br>                

            <div class="edit-buttons">
                <button (click)="moderService.BlockRefractory(pd.Id)">Заблокувати статтю про вогнетрив</button>
            </div>

            <div class="edit-buttons">
                <button (click)="moderService.UnblockRefractory(pd.Id)">Розблокувати статтю про вогнетрив</button>
            </div>
          </div>
        </div>
