<table class="table table-hover">
    <thead class="thead-light">
      <tr>
        <th>Логін</th>
        <th>Ім'я Прізвище</th>
        <th>Посада</th>
        <th>Статус блокування кристувача</th>

      </tr>
    </thead>
    <tr *ngFor="let pd of service.usersDetails">
      <td (click)="populateForm(pd)">{{pd.Login}}</td>
      <td (click)="populateForm(pd)">{{pd.Name}} {{pd.LastName}}</td>
      <td (click)="populateForm(pd)">{{pd.Position}}</td>
      <td (click)="populateForm(pd)">{{pd.IsBlocked}}</td>

    </tr>
  </table>

