<div class="card refractory pointer"  >
        <div class="card-body">
            <div class="edit-buttons" >
                <button (click)="refractoryOnEdit=true"> &#9998; </button>
                <button (click)="OnDeleteRefractory()">&times; </button>
            </div>
              <div><br></div>
              <img [src]="refractoryService.refractory.Src" alt="Головний малюнок" height="420">            

         <!-- Initial Refractory     -->
        <div class="initialRefractory" *ngIf="!refractoryOnEdit">
          <span class="text-black font-weight-bold anchor" >  {{refractoryService.refractory.RefractoryType}} </span>
          <h4 class="card-title">{{refractoryService.refractory.RefractoryBrand}}</h4>

          <h5 class="card-title"><label [innerHtml]="refractoryService.refractory.RefractoryDescription"></label></h5>

          <span class="text-black font-weight-bold anchor">Розміщенно: {{refractoryService.refractory.UserInfo.Name}}  {{refractoryService.refractory.UserInfo.LastName}}, {{refractoryService.refractory.UserInfo.Position}}</span><br>     
          <span class="text-black font-weight-bold anchor">Стаття розміщенна: {{refractoryService.refractory.DateCreate | date : "MMM d, y"}}</span><br>
          <span class="text-black font-weight-bold anchor" *ngIf="refractoryService.refractory.LastEdit!=null">Стаття зміненна: {{refractoryService.refractory.LastEdit | date : "MMM d, y"}}</span><br><br>
        
           
            <h5><u> Відгуки про вогнетрив:</u></h5>
            <div class="comment"  *ngFor="let comment of refractoryService.refractory.Comments" >
                    <span>{{comment.DateCreation | date : "MMM d, y"}}</span><br>
                    <span>"{{comment.CommentBody}}"</span><br>
                    <span>{{comment.UserInfo.Name}} {{comment.UserInfo.LastName}}, {{comment.UserInfo.Position}}</span>
                    <span>
                      <button class="del-com-button" (click)="OnDeleteComment(comment.Id)"> &times;</button>
                    </span><br><br>
            </div>

                         <!--add comment-->
          <div class="addComments" >
              <form #messageForm="ngForm"  #commentInput (ngSubmit)="OnAddComment(CommentText.value);">
                  <div class="form-group">
                    <label class="col-form-label">Новий відгук про роботу вогнетрива:</label>
                    <textarea class="add-comment form-control" #CommentText [(ngModel)]="commentText" [ngModelOptions]="{standalone: true}"></textarea>
                  </div>
                  <button id="sendButton" type="submit" class="btn btn-info">Додати відгук</button>
                </form>
          </div>
        </div>

              <!-- Ref  edit  -->
              <form #EditRefForm="ngForm" (ngSubmit)="OnRefractoryEdit(EditRefForm)" *ngIf="refractoryOnEdit">

                <div class="form-group">
                   <label class="control-label" for="Brand">Маркування вогнетриву:</label>
                     <textarea class="form-control" rows="1" #Brand="ngModel" name="Brand" [(ngModel)]="refractoryService.refractory.RefractoryBrand"></textarea>  
                  </div>

                  <div class="form-group">
                      <label class="control-label" for="Description">Опис вогнетриву:</label>
                  <quill-editor [style]="editorStyle" [modules]="config"  #Description="ngModel" name="Description" [(ngModel)]="refractoryService.refractory.RefractoryDescription">  </quill-editor>
                  </div>


                  <div class="form-group">
                    <label class="control-label" for="Type">Застосування вогнетриву:</label>
                    <textarea class="form-control" rows="1" name="Type" #Type="ngModel" [(ngModel)]="refractoryService.refractory.RefractoryType"></textarea>
                  </div>

                  <input class="btn btn-danger" type="submit" id="submit" value="Edit">
                </form>

                
        </div>
    </div>
