
<div class="row">
  <div class="col-md-9">

    <div class="card refractory pointer"  *ngFor="let pd of refService.refractories">
      <div class="card-body">
        <h4 class="card-title">{{pd.RefractoryBrand}}</h4>
        <img [src]="pd.Src" alt="Головний малюнок" height="300">
        <div><br></div>
        <span class="text-black font-weight-bold anchor" >{{pd.DateCreate | date : "MMM d, y"}}</span>
        <span class="text-black font-weight-bold anchor" >  {{pd.RefractoryType}} </span>
       
        <div  (click)="populateForm(pd)"><h5><u>Перейти до опису вогнетрива</u></h5></div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
        <!-- teg list -->
        <h4>Застосунок вогнетрива:</h4>
        <div class="tegs"  *ngFor="let teg of refService.tegslist" >
          <span (click)="searchByTeg(teg)">{{teg}} </span>
        </div>
  </div>
</div>




